<%= form_for(@checkin) do |form| %>
  <% if @checkin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
      <% @checkin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr>
      <td><%= form.label :first %></td>
      <td><%= form.text_field :first %></td>
    </tr>
    <tr>
      <td><%= form.label :last %></td>
      <td><%= form.text_field :last %></td>
    </tr>
    <tr>
      <td><%= form.label :conf %></td>
      <td><%= form.text_field :conf %></td>
    </tr>
    <tr>
      <td><%= label_tag(:flight_time, "Flight Time:") %></td>
      <td><%= select_datetime(Time.now) %></td>
      <td>(Time of flight)</td>
    </tr>
    <tr>
      <td><%= label_tag(:time_zone, "Time Zone:") %></td>
      <td><%= time_zone_select(:checkin, :time_zone, ActiveSupport::TimeZone.us_zones, :default => "Pacific Time (US & Canada)") %></td>
    </tr>
  </table>
  <%= form.submit %>
<% end %>