<table>
  <tr>
    <th>First</th>
    <th>Last</th>
    <th>Conf</th>
    <th>Time</th>
    <th></th>
    <th></th>
  </tr>

<% @checkins.each do |checkin| %>
  <tr>
    <td><%= checkin.first %></td>
    <td><%= checkin.last %></td>
    <td><%= checkin.conf %></td>
    <td><%= checkin.time %></td>
    <td><%= link_to 'Show', checkin %></td>
    <td><%= link_to 'Destroy', checkin, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New Checkin', new_checkin_path %>
<%= link_to 'Test Email', test_email_checkins_path %>