<% job = get_scheduled_job(@checkin) %>
<h1>Checkin Details</h1>

<table>
  <tr>
    <td>First:</td>
    <td><%= @checkin.first %></td>
  </tr>
  <tr>
    <td>Last:</td>
    <td><%= @checkin.last %></td>
  </tr>
  <tr>
    <td>Conf:</td>
    <td><%= @checkin.conf %></td>
  </tr>
  <tr>
    <td>Flight Time:</td>
    <td><%= @checkin.time %></td>
  </tr>
  <tr>
    <td>Time Zone:</td>
    <td><%= @checkin.time_zone %></td>
  </tr>
  <tr>
    <td>Checkin At:</td>
    <td><%= job.next_time %></td>  
  </tr>
</table>

<%= link_to 'Back to Checkins', checkins_url %>